* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

body {
    font-family: var(--ff-montserrat);
    background: var(--rich-black-fogra-29);
    color: var(--off-white);
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--white);
}

img {
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
}

input,
button,
select {
    font: inherit;
    background: none;
    border: none;
    outline: none;
}

button {
    color: var(--off-white);
    cursor: pointer;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
    color: var(--off-white);
}

::-webkit-scrollbar {
    background: transparent;
    border-left: 1px solid var(--oxford-blue);
}

::-webkit-scrollbar-thumb {
    background: var(--light-azure);
    border-radius: 5em;
    border: 3px solid var(--rich-black-fogra-29);
}